CREATE TABLE TL_DEPT
(
	DEPT_ID INT PRIMARY KEY,
	DEPT_NAME VARCHAR(100) NOT NULL,
);

INSERT INTO TL_DEPT VALUES (1,'HR')
INSERT INTO TL_DEPT VALUES (2, 'MANAGER')
INSERT INTO TL_DEPT VALUES (3,'FINANCIAL')

SELECT*FROM TL_DEPT 

CREATE TABLE TL_EMP
(
	EMP_ID INT PRIMARY KEY,
	EMP_NAME VARCHAR(100),
	EMP_SALARY INT
);

INSERT INTO TL_EMP VALUES (100, 'RASHU', 20000)
INSERT INTO TL_EMP VALUES (101, 'ASHU', 30000)
INSERT INTO TL_EMP VALUES (102, 'SUSH', 40000)
INSERT INTO TL_EMP VALUES (123, 'VINS', 50000)

SELECT*FROM TL_EMP 

ALTER TABLE TL_DEPT  ADD EMP_ID INT FOREIGN KEY REFERENCES TL_EMP(EMP_ID)

UPDATE TL_DEPT SET EMP_ID=100 WHERE DEPT_ID=1
UPDATE TL_DEPT SET EMP_ID=101 WHERE DEPT_ID=2
UPDATE TL_DEPT SET EMP_ID=102 WHERE DEPT_ID=3

CREATE TABLE TL_LOC
(
	LOC_ID INT PRIMARY KEY,
	LOC_NAME VARCHAR(100) NOT NULL UNIQUE,
	LOC_CITY VARCHAR(100) NOT NULL
);

INSERT INTO TL_LOC VALUES (01, 'MOODBIDRI', 'MANGALORE')
INSERT INTO TL_LOC VALUES (02, 'KARKALA', 'UDUPI')
INSERT INTO TL_LOC VALUES (03, 'PADUKONE', 'BYNDOOR')

SELECT*FROM TL_LOCS

SELECT*FROM TL_EMP WHERE EMP_NAME LIKE '%U%' AND EMP_ID=102;

*************************************************************************



CREATE  TABLE EMP_CONSTRAINTS
(
	EMP_ID INT UNIQUE,
	EMP_DEPTID INT,
	EMP_DESIGNATION VARCHAR(50) DEFAULT 'Unavailable',
	EMP_SALARY VARCHAR(50) CHECK (EMP_SALARY>15000) 
)

INSERT INTO EMP_CONSTRAINTS (EMP_ID, EMP_DEPTID, EMP_DESIGNATION,EMP_SALARY)  VALUES (3,'333','HR','20000'), (2,'222','MANAGER','23000'), (1,'333','SALES','18000'), (4,'111','MANAGER','16000'),  (5,'111','HR','18000'), (6,'111','MANAGER','16000')
INSERT INTO EMP_CONSTRAINTS(EMP_ID, EMP_DEPTID,EMP_SALARY) VALUES (7,'222','18000')

SELECT * FROM EMP_CONSTRAINTS

CREATE TABLE DPT_CONSTRAINTSS
(
	EMP_DEPTID INT PRIMARY KEY,
	DEPT_CITY VARCHAR(50) NOT NULL
)

INSERT INTO DPT_CONSTRAINTSS VALUES (111,'MANGALORE'), (222,'UDUPI'), (333,'BANGALORE')

SELECT * FROM DPT_CONSTRAINTSS 